<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tw.rackx"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".app.GV"
        android:icon="@drawable/panda"
        android:label="@string/app_name" android:allowBackup="true">
        <activity
            android:name="tw.rackx.app.AHome"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.calc.CalcActivity" />
        <activity
            android:name=".app.calc.CalcCDPActivity" />
        
        
        <activity
            android:name=".app.Dialog"
            android:label="@string/app_name" >
        </activity>
        <!-- <activity
            android:name=".app.TabMenu"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity> -->
    </application>

</manifest>